/ENTSO-E_TP_generation_Solar.csv
/ENTSO-E_TP_generation_Wind Onshore.csv
/ENTSO-E_TP_generation_Wind Offshore.csv
/ENTSO-E_TP_installed_cap.csv
/ENTSO-E_TP_load.csv
/ENTSO-E_TP_forecast_Solar.csv
/ENTSO-E_TP_forecast_Wind Offshore.csv
/ENTSO-E_TP_forecast_Wind Onshore.csv
/ENTSO-E_TP_load_forecast.csv
